html,body{
	margin: 10px;
	background-image: url(/content/background-image2.png);
	background-repeat: no-repeat;
	background-color: #efefef;
	background-size: 100%;
	font-family: sans-serif;
}
h1{
	background-image: url(/content/chat.png);
	background-repeat: no-repeat;
	background-position: 117px;
	text-align:center;
}
#status{
	display: block;
	text-align: right;
	color: #606060;
}
.wrapper{
	width: 500px;
	height: 640px;
	padding: 5px;
	margin: 0 auto;
	background-color: #ddd;
	opacity: 0.95;
}
#loginWrapper{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(5,5,5,.6);
	text-align: center;;
	color: #fff;
	display: block;
	padding-top:200px;
}
#nickWrapper{
	display: none;
}
.banner{
	height: 82px;
	width: 100%;
}
.banner p{
	float: left;
	display: inline-block;
}
#txtspan{
	text-align:center;
	border:2px solid #a1a1a1;
	padding:10px 40px; 
	background:#dddddd;
	width:350px;
	border-radius:25px;
}
.controls{
	height: 100px;
	margin: 5px 0px;
	position: relative;
}
#historyMsg{
	height: 410px;
	background-color: #fff;
	overflow: auto;
	padding: 2px;
}
#historyMsg img{
	max-width: 99%;
}
.timespan{
	color: #ddd;
}
.items{
	height: 30px;
}
#colorStyle{
	width: 50px;
	border: none;
	padding: 0;
}
.imageLable{
	position: relative;
}
#sendImage{
	position: absolute;
	width: 52px;
	left: 0;
	opacity: 0;
	overflow: hidden;
}
#messageInput{
	width: 440px;
	max-width: 440px;
	height: 81px;
	max-height: 90px;
	float:left;
}
#sendBtn{
	width: 50px;
	height: 87px;
	float: right;
}
#emojiWrapper{
	display: none;
	width: 500px;
	bottom: 105px;
	position: absolute;
	background-color: #aaa;
	box-shadow: 0 0 10px #555;
}
#emojiWrapper img{
	margin: 2px;
	padding: 2px;
	width: 25px;
	height: 25px;
}
#emojiWrapper img:hover{
	background-color: blue;
}
.emoji{
	display: inline;
}
span.txtspan{
    display: block;
    padding: 15px 40px 15px 0px;
    margin: 0px 0px 0px 21px;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
    word-wrap:break-word;
}

span.txtspan:before {
	position: relative;
    left: -15px;
    top: 9px;
    content: '';
    border-top: 16px solid rgba(25, 147, 147, 0.2);
    border-left: 15px solid transparent;
}

a.url{
	display: block;
	border: 5px solid rgba(25, 147, 147, 0.2);
	border-radius: 10px;
}

footer{
	text-align: center;
}